
$background-color_1: gainsboro;

* {
	margin: 0;
	padding: 0;
}
header { 
	background-color: $background-color_1;
	width: 100%;
	height: auto;
	align-self: start;
	min-height: 80px;
	justify-content: space-between;
	align-items: center;
}
.logo { 
	display: flex;
	align-items: center;
	justify-content: center;
}
	img{
		height: 75px;
		margin-right: 10px;
	
}
ul {
	display: flex;
	justify-content: center;
}
.d-flex {
	display: flex;
}
.acomodar {
	object-fit: cover;
}
li {
	list-style-type: none;
	display: flex;
	a {
		margin-right: 20px;
		font-size: 22px;
	}
}
nav {
	a {
		font-weight: 600;
		padding: 10px;
		font-size: 22px;
	}
}
.carousel-item {
	img {
	    width: 190vw;
		height: 60vh;
	}
}
footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	>p {
		background-color: $background-color_1;
		font-size: medium;
	}
}
@media (max-width: 480px) {
	header {
		flex-direction: column;
	}
	nav {
		padding: 10px 0px;
	}
	
}
